<div id="artist-list">
  <h3>artists in this playlist:</h3>
<% (hash=@iTunes.artists(@playlist)).keys.sort_by {|x| x.downcase}.each  do |key| %>
  <%= link_to key, url_for(:artist => key) %> <%= hash[key] %><br/>
<% end %>
</div>

<div id="library-list">
<p>click "que" to add to the end of queue. beware that ordering by artist, track, or album is currently slow for very large playlists.
if a song you add doesn't play, it may not be locatable by iTunes. remove it from the queue to keep the queue playable.</p>
<form action="<%= url_for() %>" method="get">
  <input type="text" name="q" value="<%= params[:q]  %>"/>
  <input type="submit" value="search"/>
</form>

<br/>
<h3 class="playlist-title">playlist:</h3>
<h1 class="playlist-title"><%= @playlist.name %></h1>
<%=link_to "up", "/" %> :
<%=link_to "clear ordering or search" %>
<%= render :partial => 'paginator' %>
<table style="margin-top: 1em">
  <colgroup>
    <col id="c0"/>
    <col id="c1"/>
    <col id="c2"/>
    <col id="c3"/>
  </colgroup>
  <thead style="text-align:left">
    <th></th>
    <th><%= link_to_unless params[:order] == "artist" || params.has_key?(:q), "artist", :order => "artist" %></th>
    <th><%= link_to_unless params[:order] == "name" || params.has_key?(:q), "track", :order => "name", :q => params[:q] %></th>
    <th><%= link_to_unless params[:order] == "album" || params.has_key?(:q), "album", :order => "album", :q => params[:q] %></th>
  </thead>
<% @tracks.each do |track| %>
  <tr class="<%= cycle('odd', 'even') %>">
    <td>
      <%= link_to_remote 'que', :url => queue_track_path(:id => track.databaseID, :q => params[:q], :order => params[:order]), :method => :put,
        :loading => "$('progress').show()", :complete => "$('progress').hide()" %> :
    </td>
    <td><%= track.artist %></td>
    <td>
      <%= track.name %>
    </td>
    <td><%= track.album %></td>
  </tr>
<% end %>
</table>

<%= render :partial => 'paginator' %>
</div>
