<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<title>iTunesRails</title>
	<meta name="generator" content="BBEdit 8.7" />
  <%= javascript_include_tag "jquery-1.2.3.min.js" %>
  <script>
    jQuery.noConflict();
  </script>
  <%= javascript_include_tag :defaults %>
  <%= stylesheet_link_tag "itunes" %>
</head>
<body>
  <div id="nav">
    <%=link_to "home", "/" %>
  </div>
  <div id="browser">
    <%= yield %>
  </div>

  <%# This is to keep the information in the queue section fresh %>
  <%= periodically_call_remote :url => {:controller => "queued_tracks", :action => "reload_queue_box" }, :frequency  => 10  %>
  <div id="queue">
    <%= render :partial => 'queued_tracks/queued_tracks' %>
    <div id="byline">
      <h3>iTunesRails</h3>
      <p>version <%= ITUNES_RAILS_VERSION %></p>
      <p>by daniel choi and mackenzie cowell</p>
      <p><a href="http://code.google.com/p/itunes-rails/">go to project homepage</a></p>
    </div>
  </div>
  <div id="progress" style="display:none">adding song to queue</div> 
  <div id="queue-changing" style="display:none">updating queue</div> 
</body>
</html>
